
  

    <!-- header section strats -->


<div class="hero_area">
<header class="header_section">

      <div class="container">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
          <a class="navbar-brand" href="{{ path('app_main') }}">
            <span>
              La Grilladerie
            </span>
          </a>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class=""> </span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav  mx-auto ">
              <li class="nav-item">
                <a class="nav-link" href="{{ path('app_main') }}" >accueil </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href={{ path('app_menu') }}>Menu <span class="sr-only">(current)</span> </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="about.html">Contacts</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="about.html">Click and Collect</a>
              </li>
              <div>
              {% if app.user %}
                 <li class="nav-item">
              <a class="nav-link" href="{{ path('logout') }}" >Deconnexion </a>
              </li>
              {% else %}
              <li class="nav-item">
              <a class="nav-link" href="{{ path('app_login') }}" >Connexion </a>
              
              {% endif %}
             </li>
             </div>
            </ul>
            <div class="user_option">
            {% if app.user %}
               <a href= {{ path('profile_index') }} class="user_link"><i class="fa fa-user" aria-hidden="true"></i></a>
               <a class="cart_link" href="{{path('cart_index')}}">
            {% else %}
            <a href= {{ path('app_login') }} class="user_link"><i class="fa fa-user" aria-hidden="true"></i></a>
             <a class="cart_link" href="{{path('app_login')}}">
            {% endif %}

              <form class="form-inline">
                <button class="btn  my-2 my-sm-0 nav_search-btn" type="submit">
                  <i class="fa fa-search" aria-hidden="true"></i>
                </button>
              </form>
              <a href="" class="order_online">
                Commander
              </a>
            </div>
          </div>
        </nav>
      </div>
    </header>