{% extends 'base.html.twig' %}

{% block title %}Burgers{% endblock %}

{% block body %}
    <h1>Burgers</h1>
                
              <div class="card" style="width: 25rem;";>
  <img src="{{ burger.photo }}" alt="Card image cap">
  <div >
    <h5 >{{ burger.nom }}</h5>
    <p >{{ burger.description }}</p>
  
                
                <p>{{ burger.prix }}</p>
               
                <p>
                    <a class='btn btn-danger' href="{{ path('app_burgers_edit', {'id': burger.id}) }}">edit</a>
                {{ include('burgers/_delete_form.html.twig') }}</p> 
                <a class='btn btn-danger' href="{{ path('app_burgers_index') }}">back to list</a>
                
     </div>       
 
        
   


    
      {% endblock %}

            
        

    

