{% extends 'base.html.twig' %}

{% block title %}Sandwichs{% endblock %}

{% block body %}
    <h1>Sandwichs</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ sandwich.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ sandwich.nom }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ sandwich.description }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ sandwich.prix }}</td>
            </tr>
            <tr>
                <th>Photo</th>
                <td>{{ sandwich.photo }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_sandwichs_index') }}">back to list</a>

    <a href="{{ path('app_sandwichs_edit', {'id': sandwich.id}) }}">edit</a>

    {{ include('sandwichs/_delete_form.html.twig') }}
{% endblock %}
