{% extends 'base.html.twig' %}

{% block title %}Orders index{% endblock %}

{% block body %}
    <h1>Orders index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Produits</th>
                <th>Prix</th>
                <th>Quantite</th>
                <th>Total</th>
                <th>Totals</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for order in orders %}
            <tr>
                <td>{{ order.id }}</td>
                <td>{{ order.produits }}</td>
                <td>{{ order.prix }}</td>
                <td>{{ order.quantite }}</td>
                <td>{{ order.total }}</td>
                <td>{{ order.totals }}</td>
                <td>
                    <a href="{{ path('app_orders_show', {'id': order.id}) }}">show</a>
                    <a href="{{ path('app_orders_edit', {'id': order.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_orders_new') }}">Create new</a>
{% endblock %}
